@import '../../../../_variables.scss';
.participate{
    .bidding-history{
        max-height: calc(100vh - 257px);
        overflow-y: auto;
        .card.self{
            background-color: $primary25;
        }
    }
}