@import "../../../variables";
.sidebar {
  &.close {
    .sideBarItem {
      .sidebar-label {
        display: none;
      }
    }
  }
  .sideBarItem {
    background: $dark;
    &.active {
      background-color: rgb(98, 137, 243);
    }
    &:hover:not(.active) {
      background: $darkHover;
    }
  }
}
